@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

.intro-container {
  padding-top: 200px;
  width: 50%;
  padding-left: 100px;
}
.bio {
  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
  padding-bottom: 40px;
}

.btn-dark {
  font-family: 'Signika Negative', sans-serif !important;
  font-size: 1.40rem !important;
}

.linkedin{
  padding-left: 2%;
}

.github {
  padding-left: 2%;
}
.App {
  background-color: rgb(51, 50, 50);
}
